/* estilos html*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,*:before,*:after {
    box-sizing: inherit;
  }
  

:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: rgb(255,193,7,1);
    --secundario: #0097a7;
    --gris: #757575;
    --fuente-principal: 3.8rem;
}


body {
    font-family: Arial, sans-serif; 
    font-size: 16px; /* 1rem = 10px */
}
/* estilos html fin */
/* Estilos del encabezado */


.titulo1 {
    text-align: center;
    font-size: 3.8rem;
    
}

.titulo1 span{
    font-size: 2rem;

}
/* Estilos del encabezado fin*/

/* Estilos de la barra de navegación */

.nav-bg{
    background-color: var(--secundario);
    
}

.navegacion-principal {

    display: flex;
    justify-content: space-around;
    
       
}

@media (min-width: 768px) {
    .navegacion-principal {
      display: flex;
      flex-direction: row;
    }
}
  

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a {
    
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1 rem;        
}


.navegacion-principal a:hover {
    
    background-color: var(--primario);
    color: var(--negro);
}
/*Estilos de la barra de navegación fin*/



/* Estilos de la sección principal */
.hero {
    background-image: url(../img/freelance.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    
    position: relative;
}
.contenido-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


   

}






/* Estilos de la sección de servicios */
main {
    margin: 20px;
}

h3 {
    color: #333;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
